@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.gaming-bg {
    background-color: red;
    animation: hue-rotate 5s infinite linear;
}